body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #343a40;
}

.header, footer {
    background-color: #343a40; /* bg-dark 색상 */
    color: #fff;
}

.header {
    padding: 10px 100px;
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav a, .nav .dropdown-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    background: none;
    display: flex;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.nav .dropdown-menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 1000;
}

.nav .dropdown-menu.show {
    display: block;
}

.nav a:last-child {
    margin-left: -5px;
}

.nav a.beta {
    color: #2196F3;
    background-color: #E3F2FD;
    padding: 3px 5px;
    border-radius: 3px;
}

.nav .dropdown-toggle {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.nav .dropdown-toggle:hover {
    color: #2196F3;
}

.auth {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.auth a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.auth button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu .dropdown-item {
    color: black;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #060606;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}

.auth .dropdown-menu {
    right: 0;
    left: auto;
}

.auth .dropdown-toggle:hover svg {
    fill: #2196F3;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px 0;
}

footer .footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

footer .footer-nav a {
    text-decoration: underline;
    color: #fff;
}

/* 기타 스타일 */
.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.search-bar select {
    height: 38px;
    width: 120px; /* 카테고리 선택창 크기 조정 */
    margin-right: 10px;
}

.search-bar input[type="text"] {
    height: 38px;
    margin-right: 10px;
    width: 250px; /* 검색 입력창 크기 조정 */
}

.search-bar button {
    white-space: nowrap;
    padding: 0 15px; /* 버튼 여백 조정 */
}

.search-bar form {
    display: flex;
    align-items: center;
}

.sticky-search-bar {
    position: fixed;
    top: 70px; /* 헤더의 높이와 같게 설정 */
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.swiper-container-wrapper {
    width: 80%;
    height: 50%; /* 원하는 높이로 설정 */
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* 가운데 정렬 */
}

.swiper-container-wrapper2 {
    width: 80%;
    height: 10%; /* 원하는 높이로 설정 */
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* 가운데 정렬 */
}

.swiper-container {
    width: 100%; /* Swiper 컨테이너를 전체 너비로 설정 */
    height: 100%; /* Swiper 컨테이너를 전체 높이로 설정 */
}

.swiper-container1 {
    width: 100%; /* Swiper 컨테이너를 전체 너비로 설정 */
    height: 100%; /* Swiper 컨테이너를 전체 높이로 설정 */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 추가: 텍스트 오버레이를 위한 상대 위치 설정 */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-slide .overlay-text-title {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 이미지 아래쪽에 배치 */
    left: 10px; /* 왼쪽 정렬 */
    color: white; /* 텍스트 색상 */
    font-size: 30px;
    font-weight: 900;
    /* 배경색 제거 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 반경 추가 */
    text-align: left; /* 왼쪽 정렬 */
}

.swiper-slide .overlay-text-title2 {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 이미지 아래쪽에 배치 */
    left: 10px; /* 왼쪽 정렬 */
    color: white; /* 텍스트 색상 */
    font-size: 20px;
    font-weight: 900;
    /* 배경색 제거 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 반경 추가 */
    text-align: left; /* 왼쪽 정렬 */
}

.swiper-slide .overlay-text {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 이미지 아래쪽에 배치 */
    left: 10px; /* 왼쪽 정렬 */
    color: white; /* 텍스트 색상 */
    font-size: 15px;
    /* 배경색 제거 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 반경 추가 */
    text-align: left; /* 왼쪽 정렬 */
}

.swiper-slide .overlay-text2 {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 이미지 아래쪽에 배치 */
    left: 10px; /* 왼쪽 정렬 */
    color: red; /* 텍스트 색상 */
    font-size: 10px;
    /* 배경색 제거 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 반경 추가 */
    text-align: left; /* 왼쪽 정렬 */
}

.swiper-slide .overlay-text3 {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 이미지 아래쪽에 배치 */
    left: 10px; /* 왼쪽 정렬 */
    color: gray; /* 텍스트 색상 */
    font-size: 12px;
    font-weight: bold;
    /* 배경색 제거 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 반경 추가 */
    text-align: left; /* 왼쪽 정렬 */
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}